
body{
    background-color: #2f2f2f;
}

#container{
    width: 800px;
    margin: 0 auto;
    padding: 100px 0;

    background-color: rgba(0, 0, 0, 0.2);
}

#grid{
    display: flex;
    flex-flow: row wrap;
}

.cell{
    aspect-ratio: 1 / 1;
    border: solid 1px #F9EBE0;
    color: white;
    background-color: #107E7D;

    display: flex;
    justify-content: center;
    align-items: center;
}

.easy{
    width: calc(100% / 7);
}
.medium{
    width: calc(100% / 9);
}
.hard{
    width: calc(100% / 10);
}

.active{
    background-color: #A09BE7;
}