*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

#grid{
    display: flex;
    flex-flow: row wrap;
}

.cell{
    width: 100px;
    height: 100px;
    border: solid 1px white;
    background-color: pink;

    display: flex;
    justify-content: center;
    align-items: center;
}